html {
  height: 100vh;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #222;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}
.del1 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}
.del2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}
.del1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("hjernetest2.webp") top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  filter: blur(2px);
}
.del1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("hjernetest2-ub.webp") top center;
  background-size: cover;
  scale: 2;
}
.del1 .text {
  top: 10%;
  transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 10%);
}
.del2 {
  background: rgb(68, 35, 19);
}
.text {
  top: 10%;
  left: 50%;
  position: absolute;
  font-family: "Franklin Gothic Heavy";
  font-size: 10vw;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 70px rgba(255, 255, 255, 0.5);
  transform: scale(1, 1.1) translate(-50%, 10%);
}
.tyggis {
  top: -100%;
  left: -15%;
  position: absolute;
  background-attachment: fixed;

  scale: 0.5;
}
